* {
  scrollbar-width: thin;
  scrollbar-color: #9c9c9c #252525;
}

body {
  font-family: "Fira Mono", monospace, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
